{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block style %}
.row{
 	background-color: #F0F8FF;
}

.r1{
	font-color : black;
	background-color: #F0F8FF;

}
{% endblock %}

{% block content %}
<div class="row" id = "1">
	<center>
	<p> Welcome  <b>{{ data.name }}</p>
	</b>
	
		<p>Application Number : <b> {{ data.aadhar_number }}P{{ data.pin_code }}_A_{{ data.city }}</b></p>
	
	</center>
</div>
<br/><br/>
<div class="panel panel-default">
  <div class="panel-body">
  	{% if step == 1 %}
  		step - 1 : Application successfully submitted ... <br/>
  	{% endif %}
  	{% if step == 2 %}
  		step - 1 : Application successfully submitted ... <br/>
  		step - 2 : Select Date between {{dates.from_date}} and {{dates.to_date}}
  		<form method="get" action="">{% csrf_token %}
  			{{form|crispy}}
			<input type = "date" name = "date">
			<input type="submit" value="submit" class="btn btn-primary">
		</form>
  	{% endif %}
  	{% if step == 3 %}
  		step - 1 : Application successfully submitted ... <br/>
  		step - 2 : Date <b>{{ date }}</b> alloted for Appointment with Regional Administrator <b>{{ admin.name }}</b>
  	{% endif %}

  	{% if step == 4 %}
  		step - 1 : Application successfully submitted ... <br/>
  		step - 2 : Date <b>{{ date }}</b> alloted for Appointment with Regional Administrator <b>{{ admin.name }}</b><br/>
  		step - 3 : Regional Administrator <b>{{ admin.name }} verified the documents </b>
  	{% endif %}

  	{% if step == -4 %}
  		step - 1 : Application successfully submitted ... <br/>
  		step - 2 : Date <b>{{ date }}</b> alloted for Appointment with Regional Administrator <b>{{ admin.name }}</b><br/>
  		step - 3 : Regional Administrator <b>{{ admin.name }} rejected the documents </b>
  	{% endif %}
  </div>
</div>

{% endblock %}
