{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block style %}
.row{
 	background-color: #F0F8FF;
}

.r1{
	font-color : black;
	background-color: #F0F8FF;

}
{% endblock %}

{% block content %}

<div class="row" id = "1">
	<center>
 <u>The Details of the Applicant </u>:<br/>
Name:<b> {{detobj.name}}</b> 
Aadhar no:<b>{{detobj.aadhar_number}}</b>
	</center>
</div>
<br>
<div class="panel panel-default">
  <div class="panel-body">
  	
	<div class="form-group"> <div id="div_id_remember" class="checkbox">
	<form method="post" action="validate/">
	 {% csrf_token %}
	<center>
	 <input type="text" name="adno" placeholder="  Aadhar number">
	 <input type="submit" name="submit" value="check criminality" class = "btn btn-primary">
	</form>
	</center>
	</div>
	</div>

  </div>
</div>
{% endblock %}
 
