
{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}


{% block style %}
.row{
 	background-color: #F0F8FF;
}

.r1{
	font-color : black;
	background-color: #F0C8FF;

}
{% endblock %}

{% block content %}
<center>
	<div class = "row">
		<h2>POLICE ADDRESS VERIFICATION</h2>
	</div>
	<br/><br/>
	<div class = "row">
		<b>{{data}}</b>
	</div>
	<br/><br/>
	<div class="panel panel-default">
	  <div class="panel-body"> 
	  	<b>House_No</b> : {{obj.house_no}} <br/><br/>
		<b>Colony_or_Location</b> :  {{obj.colony_or_location}} <br/><br/>
		<b>City</b> : {{obj.city}} <br/><br/>
		<b>District</b> : {{obj.district}} <br/><br/>
		<b>State</b> : {{obj.state}}<br/><br/>
		<form method="POST" action="">{% csrf_token %}
            {{form|crispy}}
            <center>
                <input type="submit" value="Update" class="btn btn-primary">
            </center>
        </form>
	  </div>
	</div>
</center>


{% endblock %}