{% extends 'base.html' %} 
{% load crispy_forms_tags %}
{% block content %}



	<div class = 'col-sm-6 col-sm-offset-3'>
		<center><h2><b>Enter Application Number</b></h2>	</center>
		<br/><br/>
		
<div class="panel panel-default">
  <div class="panel-body">
  	<center>

  		<form method="get" action="">{% csrf_token %}
			<input type = "text" name = "applicant_number">
		      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="submit" value="Go" class="btn btn-primary">
			
		</form>
	</center>


  </div>
</div>

		
	</div>
{% endblock %}